#barra { 
    background-color: #df5517;
}

#titulo {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

#login {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#register {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.titulo {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cuerpo {
    padding-left: 20px;
}

.categoria {
    color: white;
    font-size: small;
    text-align: center;
    width: 10%;
    background-color: darkgray;
    border-radius: 6px;
}

#sub {
    background-color: #ececec;
}

/* .btn-publicar {
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #df5517;
    margin-top: 2px;
    font-size: 15px;
    background-color: inherit;
} */

#publicar {
   text-decoration: none; 
   color: #df5517; 
}

#autor  {
    color: #df5517;
    border-radius: 6px;
    display: inline-block;
    width: 3.2em;
    height: 1.2em;
    text-align: center;
}


